<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>聊天窗</title>
    <script th:src="'https://code.jquery.com/jquery-3.3.1.min.js'"></script>
    <script>
        var name = "[[${name}]]", id = "[[${id}]]", address = "47.93.219.36:8080", target, socket;
        var gentle = new Array("小哥哥","小姐姐");
        //address = "127.0.0.1:8001";
        $(function(){
            $.ajax({
                url: "list",
                type: "get",
                dataType : "json",
                success: function (msg) {
                    $("#list").html(genList(msg));
                }
            });
            function genList(msg){
                var html = "";
                $.each(msg, function (n, value) {
                    if(id == value.id){ return; }
                    html += "<li id='"+value.id+"'><a href='javascript:toChart(\""+value.id+"\");'>" + value.nickName + "(" + gentle[value.gentle] + ")</a></li>";
                });
                if(html.indexOf("li") == -1){
                    html += "<h5>暂无老吊在线</h5>";
                }
                return html;
            }
            createSocket();
        });

        // 打开聊天窗
        function toChart(id){
            target = id;
            $("#" + id).find("span").remove();
            var toRead = $("#" + id + "_toRead").html();
            $("#content").html(toRead);
            $("#chart_box").show();
            $("#" + id + "_toRead").remove();
        }

        function createSocket(){
            var url = "ws://" + address + "/webSocket/websocket/" + id;
            socket = new WebSocket(url);
            // Web Socket 已连接上
            socket.onopen = function() {
            };
            // 收到消息监听事件
            socket.onmessage = function (msg) {
                msg = JSON.parse(msg.data);
                // 1.好友消息 2.系统提示
                if(msg.type == "1" || msg.type == "2"){ receiveMsg(msg); }
                // 3.上线提醒
                if(msg.type == "3"){ onlineRemind(msg); }
                // 3.离线提醒
                if(msg.type == "4"){ offLineRemind(msg); }
            };
            // 关闭 websocket
            socket.onclose = function() {
                // 重连
                createSocket();
            };
        }
        $(function(){
            $("#sendButton").click(function(){
                sendMsg($("#sendMsg").val());
                $("#sendMsg").val("");
            });
        });

        /**
         * 发送消息
         */
        function sendMsg(content){
            socket.send(JSON.stringify({target: target,content: content}));
            $("#content").append("<p>").append(name).append(":").append(content).append("</p>");
        }

        /**
         * 收到好友/系统消息处理(type = 1/2)
         * @param socket
         * @param content
         */
        function receiveMsg(msg){
            var charter = msg.remark;
            // 处理系统消息
            if(msg.type=="2"){
                $("#content").append("<b>").append(msg.content).append("</b>");
            }else if(target == charter.id){
                // 当前窗口
                $("#content").append("<p>").append(msg.content).append("</p>");
            }else{
                // 非当前窗口
                var html = "<div id='"+charter.id +"_toRead' style='display: none;'><p>" + msg.content + "</p></div>";
                $("#"+charter.id).append("<span>&nbsp;有未读消息</span>").append(html);
            }
        }

        /**
         * 好友上线处理
         */
        function onlineRemind(msg){
            var remindMsg = msg.content;
            var sender = msg.remark;
            if($("#list").html().indexOf(sender.id) > -1){ return; }
            var html = "<li id='"+sender.id+"'><a href='javascript:toChart(\""+sender.id+"\");'>" + sender.nickName + "(" + gentle[sender.gentle] + ")</a></li>";
            if($("#list").find("li").length > 0) {
                $("#list").append(html);
            } else {
                $("#list").html(html);
            }
        }

        /**
         * 好友离线处
         */
        function offLineRemind(msg){
            var charter = msg.remark;
            if($("#list").html().indexOf(charter.id) > -1){
                $("#" + charter.id).remove();
            }
        }

        /**
         * 刷新或关闭页面前,关闭socket连接
         * @param event
         */
        window.onbeforeunload = function(event) {
            socket.close();
        };
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="width: 500px;margin: auto;">
        <h4>在线列表</h4>
        <div id="list"></div>
    </div>
    <div id="chart_box" class="layui-body" style="width: 500px;margin: auto;display: none;">
        <!-- 聊天框 -->
        <h5>欢迎使用在线聊天 ！</h5>
        <!--内容框-->
        <div id="content"></div>
        <!--输入框-->
        <div id="input">
            <input id="sendMsg" type="text" value=""/>
            <input id="sendButton" type="button" value="发送"/>
        </div>
    </div>
</div>
</body>
</html>